<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/cars.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Cadastro de veiculo</title>
</head>
<body>
    <div class="container">
        <section class="header">
            <h2>Bem vindo!</h2>
        </section>
        <div class="" id="input">
            <img src="../assets/perfil-de-usuario.png" alt="">
        </div>

        <!-- <form id="form" class="form">
            <span class="error-message"></span>
            <div class="form-content">
                <label for="placa">Placa</label>
                <input type="text" id="placa" name="placa" placeholder="Digite o placa">                
            </div>

            <div class="form-content">
                <label for="chassi">Chassi</label>
                <input type="text" id="chassi" name="chassi" placeholder="Digite o chassi">
            </div>

            <span id="message"></span>
            <div class="form-content">
                <label for="modelo">Modelo</label>
                <input type="text" id="modelo" name="modelo" placeholder="Digite o modelo">
            </div>

            <div class="form-content">
                <label for="montadora">Montadora</label>
                <input type="text" id="montadora" name="montadora" placeholder="Digite a montadora">
            </div>

            <div class="form-content">
                <label for="situacao">Situação</label>
                <input type="text" id="situacao" name="situacao" placeholder="Escolha a situação">
            </div> -->
            
            <!-- <button type="button" id="submit-btn">Cadastrar</button> -->
            <!-- <button id="btnCadastro" type="">Cadastrar</button> -->

        </form>
        <div id="result"></div>
    </div>
    <script src="../js/cars.js"></script>
    
</body>
</html>